@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Nunito', sans-serif;
    background-color: rgba(245, 212, 24, 0.62);
}

body::before,
body::after {
    z-index: -2;
    content: "";
    position: fixed;
    width: 250px;
    height: 250px;
    background-color: #E44631;
    opacity: 50%;
    border-radius: 50%;
}

body::before {
    bottom: 0;
    left: 0;
}

body::after {
    bottom: 0;
    right: 0;
}


.active {
    border-bottom: 2px solid red;
    transition: 0.2s ease-in-out;
}